@model Shoes

<h3>@Model.Model with @Model.PrimaryColor Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Size</th>
        <th>Primary Color</th>
        <th>Secondary Color</th>
    </tr>

    <tr>
        <td>@Model.idShoes</td>
        <td>@Model.Brand</td>
        <td>@Model.Model</td>
        <td>@Model.Size</td>
        <td>@Model.PrimaryColor</td>
        <td>@Model.SecondaryColor</td>
    </tr>
</table>

<div class="buttons">
    <div style="display: block">
        <a href="/Shoes/UpdateShoes/@Model.idShoes">Update this pair</a>
    </div>

    <div "style=" display: block">

    @using (Html.BeginForm("DeletePair", "Shoes", FormMethod.Post))
    {
            <input type="hidden" name="idShoes" value="@Model.idShoes" />
            <input type="submit" onclick="return confirm('Confirm you got rid of 'em')" value="Delete this pair" />
    }
    </div>
</div>
