@model Hats



<table class="table">
    <tr>
        <th>Team Location</th>
        <th>Team Name</th>
        <th>Primary Color</th>
        <th>Secondary Color</th>
        <th>DateLastWorn</th>
        <th>Image</th>
    </tr>
    
        <tr>
            @* <td>@Model.idHats</td> *@
            <td>@Model.HatsTeamLocation</td>
            <td>@Model.HatsTeamName</td>
            <td>@Model.PrimaryColor</td>
            <td>@Model.SecondaryColor</td>
            <td>@Model.DateLastWorn</td>
            <td><img src="@Model.LinkToImage" alt="Image" style="max-width: 3in;" /></td>
        </tr>
    
   
</table>


<div class="buttons">
    <div style="display: block">
    <a href="/Hats/UpdateHat/@Model.idHats">Update this hat</a>
</div>

<div "style="display: block">

    @using (Html.BeginForm("DeleteHat", "Hats", FormMethod.Post))
    {
        <input type="hidden" name="idHats" value="@Model.idHats"/>
        <input type="submit" onclick="return confirm('Did you really get rid of such a great hat?')" value="Delete this hat" />
    }
</div>
</div>
 
    